<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<br>
	<img src="https://easychair.org/images/cfp-logo/CONISOFT_2018.jpg" /><br>
	<h3 class="display-4">Cultura Ágil</h3>
	<h2> <span id="current" style="font-size: 100px;"> Song </span> </h2>
</div>

